
.Buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 38px;
    width: 100px;
    height: 40px;
    background-color: #E5E7E9;
    
}

.LinkButtons {
    text-decoration: none;
    color: black;
    min-width: 100px;
    max-width: 100px;
}
